// Global variables
// -------------------------------------------/

// Breakpoints
$small-screen-up: new-breakpoint( min-width 27em 12 );
$medium-screen-up: new-breakpoint( min-width 48.063em 12 );
$large-screen-up: new-breakpoint( min-width 64.063em 12 );
$xlarge-screen-up: new-breakpoint( min-width 90.063em 12 );
$wide-screen-up: new-breakpoint( min-width 100.063em 12 );
$max-width: rem(1280);

// Main colours
$color-white:         #FFFFFF;
$color-gainsboro:     #f3f3f4;
$color-silver:        #aaaaac;
$color-gray:          #797979;
$color-thistle:       #d29bbd;
$color-purple:        #983e75;
$color-pearly:        #b23681;
$color-redviolet:     #d91c7e;
$color-phlox:         #dd2476;
$color-darkpurple:    #1d022d;
$color-vermilion:     #e94011;
$color-yellow:        #eec558;
$color-persian:       #d38312;
$color-orange:        #f87f1d;
$color-orangepantone: #ff512f;
$color-eerie:         #313131;
$color-black:         #252525;

// Base colours
$font-color-base: $color-black;
$accent-color-hover: $color-orange;
$accent-color-base: $color-orange;

// Typography
$font-family-base: 'Open Sans';
$font-family-alt: 'Playfair Display';
$base-font-size: rem(16);

// Font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Border
$border-base: 1px solid $color-gainsboro;
$border-width-base: rem(4);

// Layout
$margin-base: rem(120);
$padding-base: rem(80);
$gutter-base: rem(150);
