// Scalable containers
@mixin max-width-scale() {
	@include media( $wide-screen-up ) {
		width: $wide-screen-up;
	}
	@include media( $xlarge-screen-up ) {
		width: $xlarge-screen-up;
	}
	@include media( $large-screen-up ) {
		width: $large-screen-up;
	}
	@include media( $medium-screen-up ) {
		width: $medium-screen-up;
	}
}

@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

// Break out of container to fullwidth - ugly but works
@mixin extend-fullwidth() {
	padding-left:  3000px;
	padding-right: 3000px;
	margin-left:   -3000px !important;
	margin-right:  -3000px !important;
}

// Cover image - fullwidth, vertical middle
@mixin background-cover() {
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	z-index: 1;
}

// Admin sticky fix
@mixin admin-sticky-fix() {
	.admin-bar & {
		margin-top: rem(46);

		@include media( $medium-screen-up ) {
			margin-top: rem(32);
		}
	}
}
