.site-footer {
	background-color: $color-darkpurple;
	padding: ( 0.5 * $padding-base ) 0;
	text-align: center;

	.main-navigation {
		display: none;
	}

	.site-info {
		a {
			color: $color-white;
			font-size: 1.15rem;
			font-family: $font-family-alt;
			letter-spacing: 0.1rem;
		}
	}

	.site-title {
		position: fixed;
		top: rem(20);
		z-index: 100;
		display: block;
		width: 100%;
		text-align: center;
		padding-left: rem(60);
		@include admin-sticky-fix();

		a {
			font-family: $font-family-alt;
			color: $color-black;
			font-weight: 700;
			letter-spacing: 0.15rem;
		}

		&::before {
			content: '';
			position: absolute;
			height: rem(31);
			width: rem(40);
			margin-left: - rem(58);
			margin-top: - rem(4);
			background-image: url( https://2016.denmark.wordcamp.org/files/2016/03/wpdk-logo-color.png );
			@include background-cover();
		}
	}

	.home & {
		.site-title {
			top: rem(45);
			z-index: 10;

			a {
				color: $color-white;
			}

			&::before {
				background-image: url( https://2016.denmark.wordcamp.org/files/2016/03/wpdk-logo.png );
				margin-top: - rem(8);
			}
		}
	}
}
