.site-footer {
	.home & {
		.site-title {
			position: fixed;
			top: rem(45);
			z-index: 10;
			display: block;
			width: 100%;
			text-align: center;
			padding-left: rem(60);

			a {
				font-family: $font-family-alt;
				color: $color-white;
				font-weight: 700;
				letter-spacing: 0.15rem;
			}

			&::before {
				content: '';
				position: absolute;
				height: rem(31);
				width: rem(40);
				margin-left: - rem(58);
				margin-top: - rem(8);
				background: url( https://2016.denmark.wordcamp.org/files/2016/03/wpdk-logo.png );
				@include background-cover();
			}
		}
	}
}
