.site-footer {
	background-color: $color-darkpurple;
	padding: ( 0.5 * $padding-base ) 0;
	text-align: center;

	.main-navigation {
		display: none;
	}

	.site-info {
		a {
			color: $color-white;
			font-size: 0.9rem;
			font-family: $font-family-alt;
			letter-spacing: 0.1rem;

			@include media( $medium-screen-up ) {
				font-size: 1.15rem;
			}
		}
	}

	.site-title {
		position: fixed;
		top: rem(20);
		z-index: 99;
		margin: 0 auto;
		width: rem(350);
		display: none;
		padding-left: rem(60);
		@include admin-sticky-fix();

		a {
			font-family: $font-family-alt;
			color: $color-black;
			font-weight: 700;
			letter-spacing: 0.15rem;
		}

		&::before {
			content: '';
			position: absolute;
			height: rem(31);
			width: rem(40);
			margin-left: - rem(58);
			margin-top: - rem(4);
			background-image: url( https://2016.denmark.wordcamp.org/files/2016/03/wpdk-logo-color.png );
			@include background-cover();
		}

		@include media( $medium-screen-up ) {
			display: inline-block;
		}
	}

	.home & {
		height: rem(105);
		margin-top: 0.5 * $padding-base + rem(58);

		.site-title {
			top: rem(45);
			z-index: 10;
			width: 100%;
			left: 0; right: 0;

			a {
				color: $color-white;
			}

			&::before {
				background-image: url( https://2016.denmark.wordcamp.org/files/2016/03/wpdk-logo.png );
				margin-top: - rem(8);
			}
		}

		@include media( $medium-screen-up ) {
			margin-top: ( 2 * $margin-base ) + rem(100);
		}
	}
}
