// General Grid
// -------------------------------------------/

.screen-reader-text{
	@include screen-reader-text();

	h1{
		@include screen-reader-text();
	}
}

.site {
	overflow-x: hidden;
	width: 100%;
}

.container {
	position: relative;
	@include max-width-scale();
	@include outer-container();
}
