.site-header {
	position: fixed;
	width: 100%;
	top: 0;
	@include admin-sticky-fix();
	padding: ( 0.25 * $padding-base ) 0 ( 0.35 * $padding-base );
	background: rgba( 255, 255, 255, 0.95 );
	z-index: 99;

	.home & {
		padding: ( 0.25 * $padding-base ) 0;
		background: none;

		@include media( $medium-screen-up ) {
			padding: ( 0.5 * $padding-base ) 0;
		}
	}

	.site-header-main {
		position: relative;
		@include max-width-scale();
		@include outer-container();
	}

	.site-branding {
		margin: 0;
		height: 0;
		overflow: hidden;
	}

	.menu-toggle {
		position: absolute;
		top: rem(3);
		font-size: 0;
		height: rem(19);
		width: rem(31);
		left: 0.25 * $padding-base;
		background: url( https://2016.denmark.wordcamp.org/files/2016/03/icon-burger-black.png );

		.home & {
			background: url( https://2016.denmark.wordcamp.org/files/2016/03/icon-burger.png );
		}

		&.toggled-on {
			z-index: 100;
			@include calc( 'left', '#{rem(500)} - #{$padding-base}' );
			position: fixed;
			top: 0.25 * $padding-base;
			left: 0.25 * $padding-base;

			@include media( $medium-screen-up ) {
				top: 0.5 * $padding-base;
			}
		}

		@include media( $xlarge-screen-up ) {
			left: 0;
		}
	}

	.site-header-menu {
		display: inline-block;
		padding-left: 0.75 * $padding-base;

		.menu-item {
			display: none;
			opacity: 0.85;
			padding: 0 0.75rem;

			a {
				font-family: $font-family-base;
				font-weight: 800;
				color: $color-black;

				.home & {
					color: $color-white;
				}
			}
		}

		&.toggled-on {
			.menu-item {
				display: inline-block;
			}
		}

		&:not(.toggled-on) {
			.menu-item:last-child {
				display: block;
				position: absolute;
				top: 0;
				right: 0.25 * $padding-base;
				padding: 0;

				a {
					text-transform: uppercase;
					border-bottom: rem(2) $color-black solid;
					padding-bottom: rem(10);

					.home & {
						border-bottom-color: $color-white;
					}
				}

				@include media( $medium-screen-up ) {
					right: 0;
					padding: 0 0.75rem;
				}
			}
		}
	}
}
