.home {
	.site-main {
		position: relative;
		@include max-width-scale();
		@include outer-container();
		padding-bottom: $margin-base;
		@include clearfix;

		.entry-summary,
		.entry-content,
		.post-thumbnail {
			display: none;
		}

		.hentry {
			position: relative;
			border-top: $color-gainsboro rem(1) solid;
			width: 100%;
			padding: 1.5rem ( 0.25 * $padding-base );

			@include media( $medium-screen-up ) {
				float: left;
				height: rem(290) / 4;
				line-height: rem(290) / 4;
				@include calc( 'width', '92% - #{rem(500)} - ( 0.7 * #{$padding-base} )' );
				margin-left: 0.7 * $padding-base;
				padding: 0;
			}

			.entry-header {
				h2 {
					margin: 0;

					a {
						color: $color-gray;
						font-family: $font-family-base;
						font-weight: 600;

					}
				}

				@include media( $medium-screen-up ) {
					padding-left: 8rem;

					h2 {
						padding-right: 2rem;
					}
				}
			}

			.entry-footer {
				a {
					color: $color-silver;
					text-transform: uppercase;
					font-family: $font-family-base;
					font-weight: 700;
					font-size: 75%;
				}

				.byline,
				.comments-link,
				.edit-link,
				.cat-links,
				.tags-links,
				.posted-on .updated:not(.published) {
					display: none;
				}

				@include media( $medium-screen-up ) {
					position: absolute;
					top: 0;
					left: 0;
				}
			}

			&:last-child {
				border-bottom: $color-gainsboro rem(1) solid;
			}

			&:first-child {
				height: rem(250);
				width: 100%;
				border: none;
				margin-left: 0;
				line-height: 100%;
				padding: 0;

				@include media( $medium-screen-up ) {
					height: rem(290);
					width: rem(500);
				}

				.entry-header {
					position: absolute;
					left: 0.5 * $padding-base;
					top: 0.75 * $padding-base;
					z-index: 1;
					padding: 0;

					a {
						color: $color-white;
						font-family: $font-family-base;
						font-weight: 800;
						font-size: 120%;
						line-height: 120%;
					}

					@include media( $medium-screen-up ) {
						left: 0.75 * $padding-base;
						top: $padding-base;

						a {
							font-size: 180%;
							line-height: 100%;
						}
					}
				}

				.post-thumbnail {
					display: block;
					height: 100%;
					width: 100%;
					overflow: hidden;
					position: relative;
					border-left: rem(6) solid $color-orange;

					img {
						width: 100%;
						height: auto;
						@include vertical-align();
					}

					&::after {
						content: '';
						display: block;
						position: absolute;
						top: 0; left: 0;
						height: 100%;
						width: 100%;
						background: $color-black;
						opacity: 0.6;
					}
				}

				.entry-footer {
					position: absolute;
					top: auto;
					left: 0.5 * $padding-base;
					bottom: 0.4 * $padding-base;

					a {
						font-family: $font-family-base;
						color: lighten( $color-white, 20% );
						font-weight: 400;
						font-size: 80%;
					}

					@include media( $medium-screen-up ) {
						left: 0.75 * $padding-base;
					}
				}
			}
		}
	}

	.news-title {
		padding-top: 0.5 * $padding-base;
		overflow: hidden;

		h2 {
			content: 'Nyheder';
			display: block;
			font-family: $font-family-alt;
			font-size: 250%;
			font-weight: 400;
			padding-left: 0.25 * $padding-base;
			margin: 0 0 ( 0.25 * $padding-base );
		}

		@include media( $medium-screen-up ) {
			.news-title {
				padding-top: $margin-base;
			}

			h2 {
				font-size: 350%;
				padding-left: $margin-base;
				margin: 0 0 ( 0.75 * $padding-base );
			}

			.container {
				&::before,
				&::after {
					content: '';
					display: block;
					position: absolute;
					border-left: rem(1) solid $color-purple;
					width: rem(2000);
					height: rem(10);
					right: - 90%;
					top: 3rem;
					opacity: 0.2;
				}

				&::before {
					border-left: rem(1) solid $color-purple;
				}
				&::after {
					border-bottom: rem(1) solid $color-purple;
					margin-top: - rem(9);
				}
			}

		}
	}

	.news-link {
		position: relative;

		.container {
			a {
				position: absolute;
				right: 0;
				top: 5.5rem;
				display: none;
				color: darken( $color-gainsboro, 10% );
				font-size: 500%;
				font-family: $font-family-base;

				@include media( $medium-screen-up ) {
					display: block;
				}
			}
		}
	}
}
