.section-cta {
	position: relative;
	overflow: hidden;
	background-color: $color-gainsboro;

	.container {
		padding: $margin-base 0;
		font-size: 0;
	}

	.cta {
		position: relative;
		display: inline-block;
		width: 33.3333%;
		height: rem(430);
		font-size: $base-font-size;

		a {
			color: $color-black;
			position: relative;
			z-index: 3;
			display: block;
		}

		.title {
			font-family: $font-family-alt;
			font-weight: 900;
			text-transform: uppercase;
			font-size: 270%;
			line-height: 130%;
			letter-spacing: 0.1rem;
			margin-top: rem(60);

			&::after {
				content: '';
				display: block;
				margin: ( 0.5 * $padding-base ) 0;
				width: rem(170);
				height: rem(3);
				background: $color-redviolet;
			}
		}

		.desc {
			padding-right: 2 * rem(60);
			font-family: $font-family-base;
			line-height: 180%;
		}

		&::after,
		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: rem(60);
			z-index: 1;
			height: rem(430);
			@include calc( 'width', '100% - ( 2 * #{rem(60)} )' );
			background-color: $color-white;
			@include background-cover();
			opacity: 0.1;
			@include transition( opacity 0.2s ease-in-out );
		}

		&::before {
			opacity: 0.7;
			z-index: 2;
			width: 0;
			background: $color-redviolet;
			@include transition( width 0.1s ease-in-out );
		}

		&:nth-child(1) {
			&::after {
				background-image: url( https://2016.denmark.wordcamp.org/files/2016/03/cta-bg-1.jpg );
			}

			.title::after,
			&:before {
				background: $color-redviolet;
			}
		}

		&:nth-child(2) {
			&::after {
				background-image: url( https://2016.denmark.wordcamp.org/files/2016/03/cta-bg-2.jpg );
			}

			.title::after,
			&:before {
				background: $color-vermilion;
			}
		}

		&:nth-child(3) {
			&::after {
				background-image: url( https://2016.denmark.wordcamp.org/files/2016/03/cta-bg-3.jpg );
			}

			.title::after,
			&:before {
				background: $color-orange;
			}
		}

		&:hover {
			&:after {
				opacity: 0.25;
				@include transition( opacity 0.5s ease-in-out );
			}

			&:before {
				@include calc( 'width', '100% - ( 2 * #{rem(60)} )' );
				@include transition( width 0.4s ease-in-out );
			}
		}
	}
}
