.section-info {
	position: relative;
	overflow: hidden;
	background-color: $color-yellow;

	.container {
		padding: ( 0.75 * $padding-base ) ( 0.25 * $padding-base );
		font-size: 0;
		background-image: url( https://2016.denmark.wordcamp.org/files/2016/03/info-logo-yellow.png );
		background-repeat: no-repeat;
		background-position: right 0 top ( - rem(40) );

		@include media( $medium-screen-up ) {
			padding: $margin-base ( 0.25 * $padding-base );
		}

		@include media( $large-screen-up ) {
			padding: $margin-base 0;
		}
	}

	.tickets {
		display: inline-block;
		font-size: 1.4rem;
		color: $color-black;
		font-family: $font-family-alt;
		letter-spacing: 0.1rem;
		text-align: center;

		.link {
			margin-top: rem(10);

			a {
				font-size: 1.75rem;
				color: $color-white;
				font-family: $font-family-base;
				font-weight: 800;
				text-transform: uppercase;
				letter-spacing: 0;
			}
		}

		@include media( $medium-screen-up ) {
			width: 60%;
			text-align: left;

			.link {
				a {
					font-size: 2.5rem;

					&::before {
						content: '';
						display: inline-block;
						width: rem(70);
						height: rem(4);
						background: $color-white;
						margin-bottom: rem(15);
						margin-right: rem(30);
					}
				}
			}
		}

		@include media( $large-screen-up ) {
			.link {
				a {
					font-size: 3.5rem;
				}
			}
		}
	}

	.location {
		position: relative;
		display: inline-block;
		font-size: 1.1rem;
		color: $color-black;
		font-family: $font-family-alt;
		letter-spacing: 0.1rem;
		text-align: center;
		@include icons( '\f041', 'fontawesome', 'after', $color-white, '0px' );
		margin-top: 2.5rem;

		a {
			color: $color-black;
		}

		h2 {
			font-size: 3.4rem;
			color: $color-eerie;
			font-family: $font-family-base;
			font-weight: 800;
			text-transform: uppercase;
			letter-spacing: 0;
			margin: 0;
		}

		p {
			margin: 0.25rem 0 0;
		}

		&::after {
			font-size: 5rem;
			display: block;
			margin-top: 1rem;
		}

		@include media( $medium-screen-up ) {
			width: 40%;
			text-align: right;
			margin-top: 0;
			padding-right: rem(130);

			&::after {
				font-size: 10rem;
				position: absolute;
				right: 0;
				top: - rem(50);
				margin-top: 0;
			}
		}
	}
}
