.home {
	#content {
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
  		@include flex-direction( column );

		& > * {
			width: 100%;
		}

		#primary {
			@include order(2);
		}
		#secondary {
			@include order(1);
		}
	}

	#landing {
		position: relative;
		height: 100%;
		height: 100vh;
		background-color: $color-pearly;
		background: linear-gradient( -77deg, $color-persian, $color-pearly );
		overflow: hidden;
		z-index: 11;

		&::before {
			content: '';
			position: absolute;
			top: 0; left: 0;
			height: 100%;
			width: 100%;
			background-image: url( https://2016.denmark.wordcamp.org/files/2016/03/landing-bg.jpg );
			@include background-cover();
			opacity: 0.2;
			z-index: 12;
		}

		.home & {
			&::after {
				content: '';
				height: rem(1);
				width: rem(10000);
				background: $color-white;
				position: absolute;
				right: - rem(5000);
				top: 0;
				z-index: 14;
				opacity: 0.15;
				@include transform( rotate(-45deg) );
			}
		}

		.container {
			height: 100%;
		}

		.tagline {
			position: absolute;
			top: 38%;
			right: 0;
			width: 100%;
			z-index: 13;
			color: $color-white;
			opacity: 0.9;
			padding: 0 $padding-base;
			text-align: right;

			.title {
				font-family: $font-family-alt;
				font-size: 400%;
				letter-spacing: 0.15rem;
				margin-bottom: rem(15);

				&::before,
				&::after {
					content: '';
					position: absolute;
					border-right: rem(1) solid $color-white;
					width: rem(2000);
					height: rem(10);
					left: - rem(1630);
					top: 3rem;
					opacity: 0.08;
				}

				&::before {
					border-top: rem(1) solid $color-white;
				}
				&::after {
					border-bottom: rem(1) solid $color-white;
					margin-top: - rem(9);
				}
			}

			.subtitle {
				font-family: $font-family-base;
				font-size: 200%;
				font-weight: 100;
				letter-spacing: 0.2rem;
				text-transform: uppercase;
			}

			&::before {
				content: '';
				position: absolute;
				top: -2rem;
				left: $padding-base;
				height: rem(208);
				width: rem(267);
				background: url( https://2016.denmark.wordcamp.org/files/2016/03/wpdk-logo.png );
				opacity: 0.9;
			}
		}
	}
}
