body.page:not(.home), .single {
	position: relative;

	.site-content {
		margin-top: rem(70);
	}

	.site-main {
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: - 2rem;
			min-height: rem(500);
			width: 100%;
			background-image: url( https://2016.denmark.wordcamp.org/files/2016/03/lines-regular-bg.png );
			background-repeat: no-repeat;
			background-size: 100% auto;
		}
	}

	.hentry {
		position: relative;
		@include max-width-scale();
		@include outer-container();
		padding: 0 ( 2 * $margin-base );

		a {
			color: $color-orange;
		}

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			border-right: rem(1) solid $color-purple;
			width: rem(2000);
			height: rem(10);
			left: - 145%;
			top: 3rem;
			opacity: 0.5;
		}

		&::before {
			border-right: rem(1) solid $color-purple;
		}
		&::after {
			border-bottom: rem(1) solid $color-purple;
			margin-top: - rem(9);
		}
	}

	h1 {
		color: $color-black;
		font-family: $font-family-alt;
		font-size: 420%;
		letter-spacing: 0.15rem;
		margin: ( 1.5 * $margin-base ) 0 $padding-base;
	}

	.post-thumbnail {
		margin-left: - ( 2 * $margin-base );
		@include calc( 'width', '100% + ( 4 * #{$margin-base} )' );
		height: rem(500);
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			@include vertical-align();
		}
	}

	.entry-content {
		padding: ( 0.5 * $padding-base ) 0 $padding-base;
		font-family: $font-family-base;
		font-size: 120%;
		line-height: 180%;
		color: $color-eerie;
	}

	.entry-footer {
		display: none;
	}
}
